.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em;
}

.scorers {
  width: 45%;
}
.match-data {
  width: 100%;
  max-height: 530px;
  overflow: auto;

  table {
    width: 100%;

    .mat-column-goals,
    .mat-column-assists {
      width: 110px;

      mat-form-field {
        margin-top: 1.34375em;
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
    .goals-input,
    .assists-input {
      width: 100px;
    }
  }
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
