<div class="details-container">
  <div class="name">
    {{ player.name }}
    <span *ngIf="player.nick" class="nick">({{ player.nick }})</span>
  </div>
  <div class="info">
    <div class="info-item">
      <div class="value">{{ player.played }}</div>
      <div class="title">Jornadas</div>
    </div>
    <div class="info-item">
      <div class="value">{{ player.goals }}</div>
      <div class="title">Goles</div>
    </div>
    <div class="info-item">
      <div class="value">{{ player.assists }}</div>
      <div class="title">Asistencias</div>
    </div>
  </div>
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
