.table-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3em;

  .btn-new {
    align-self: flex-end;
    margin-bottom: 1em;
  }

  table {
    width: 100%;
  }
}
